<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Temp and RH</title>
	<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='excanvas.min.js') }}"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.flot.time.js') }}"></script>
<!-- Datepicker -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- END Datepicker -->

<style>
.datepicker-container {
float:left;
margin-top:15px;
margin-left:15px;
font-size: 75%;
},

</style>

	<script type="text/javascript">
		$(function() {
	    var temperature = [{{ vartemp }}]
	    var humidity = [{{ varhum }}]

	    function doPlot(position) {
	        $.plot("#placeholder", [{
	            data: temperature,
	            label: "Temperature (°C)"
	        }, {
	            data: humidity,
	            label: "RH (%)",
	            yaxis: 2
	        }], {
	            xaxes: [{
	                mode: "time",
	                tickSize: [1, "hour"],
	            }],
	            yaxes: [{
	                min: 18,
	                max: 35
	            }, {
	                alignTicksWithAxis: 1,
	                position: position,
	                min: 25,
	                max: 55
	            }],
	            legend: {
	                position: "sw"
	            }
	        });
	    }
	    doPlot("right");
	    $("button").click(function() {
	        doPlot($(this).text());
	    });
	    $('#datepicker').datepicker({
	        dateFormat: "yy/mm/dd",
	        firstDay: 1,
	        changeMonth: true,
	        changeYear: true,
	        onSelect: function(date) {
	            window.location.href = "http://telldus:8080/temphum/" + date;
	        }
	    });
	    //set calendar date
	    $("#datepicker").datepicker("setDate", "{{ datestring_url }}");
	    });
	</script>
</head>
<body>

	<div id="header">
		<h2>{{datestring}}</h2>
	</div>

	<div id="content">



		<div id="datepicker" class="datepicker-container"></div>

		<div class="demo-container">

			<div id="placeholder" class="demo-placeholder"></div>
		</div>
	</div>

	<div id="footer">
		Copyright &copy; 2015 Jaakko Koistinen
	</div>

</body>
</html>
